* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

.newgame {
  color: white;
  text-decoration: none;
}

.loadgame {
  color: white;
  text-decoration: none;
}