@media (max-width: 750px) {
  .container {
    flex-direction: column;
    align-items: center;
   
  }

  .newgame {
    padding: 50px;
  }

  .settings {
    padding: 50px;
  }

  .loadgame {
    padding: 50px;
  }
}