body {
  background-image: url(../imagens/background.jpeg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  background-position: center;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(4px);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.Four-Kinghts {
  display: flex;
  gap: 30px;
  padding: 30px 0;
}

.cartao-cavaleiro {
  display: none;
  max-width: 300px;
  border: 2px solid black;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px
}

.cartao-cavaleiro.aberto {
  display: block;
}

.cartao-cavaleiro img {
  width: 100%;
  height: 100%;
  margin-top: 10px;
}

.cartao-cavaleiro .cartao-topo {
  padding: 30px 40px 0;
}

.cartao-cavaleiro .nome {
  margin-bottom: 5px;
}

.cartao-cavaleiro .codenames {
  background-color: #ffffff;
  font-size: 12px;
  opacity: 0.7;
  border-radius: 10px;
  padding: 2px 10px;
}

.cartao-cavaleiro .detalhes {
  color: #ffffff;
  display: flex;
  align-items: center;
}

.cartao-cavaleiro .cartao-informacao {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 80px 30px 50px;
  margin-top: -70px;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
}

.cartao-cavaleiro .cartao-informacao h3 {
  font-size: 20px;
  margin-bottom: 15px;
  border-bottom: 2px solid #6b727a;
}

.cartao-cavaleiro .cartao-informacao .descricao {
  padding: 0 10px;
  margin-top: 5px;
  font-size: 15px;
  max-height: 150px;
  overflow-y: scroll;
}

#cartao-artorias {
  background-color: #318bc7;
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
}

#cartao-ornstein {
  background-color: #f5b02f;
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
}

#cartao-gough {
  background-color: #4f565a;
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
}

#cartao-ciaran {
  background-color: #108999;
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
}

.listagem {

  max-width: 200px;
}

.listagem .knight img {
  width: 25%;
}

#artorias {
  width: 30%;
}

.listagem .knight {
  border: 2px solid black;
  background-color: #6b727a;
  color: #ffffff;
  min-height: 70px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
  margin-bottom: 10px;
  border-top-right-radius: 24px;
  border-bottom-left-radius: 24px;

  transition: 0.15 ease-in-out;

}

.listagem .knight:hover {
  transform: scale(1.05);
}

.listagem .knight span {
  padding-right: 20px;
}

.listagem .knight:hover {
  background-color: #192d58;
}